<!-- Features Component Template -->
<section class="lp-features" id="features">
  <div class="lp-container">
    <div class="lp-features__header">
      <h2 class="lp-features__title">{{heading}}</h2>
      <p class="lp-features__subtitle">{{subheading}}</p>
    </div>

    <div class="lp-features__grid lp-features__grid--{{columns}}-col">
      {{#each features}}
      <div class="lp-feature-card {{#if highlighted}}lp-feature-card--highlighted{{/if}}">
        {{#if icon}}
        <div class="lp-feature-card__icon">
          <img src="{{icon.src}}" alt="{{icon.alt}}">
        </div>
        {{/if}}
        
        {{#if image}}
        <div class="lp-feature-card__image">
          <img src="{{image.src}}" alt="{{image.alt}}">
        </div>
        {{/if}}

        <h3 class="lp-feature-card__title">{{title}}</h3>
        <p class="lp-feature-card__description">{{description}}</p>
        
        {{#if cta}}
        <a href="{{cta.href}}" class="lp-feature-card__link">{{cta.text}}</a>
        {{/if}}
      </div>
      {{/each}}
    </div>
  </div>
</section>